@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
$colorRed: #f16d7f;
$fw400: 400;

* {
  font-family: Lato, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.top {
  flex-grow: 1;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .header__item {
    padding: 16px 16px;
  }
  .wrapper-gallery {
    margin: 0 16px;
  }
  .wrpper-futured {
    padding: 0 16px;
  }
  .brand__title {
    font-size: 44px;
  }
  .brand__title-sm {
    font-size: 24px;
  }
  .brand__title {
    margin-left: 68px;
  }
  .wrpper-futured__btn {
    margin-bottom: 65px;
  }
  .wrapper-subscription {
    justify-content: space-around;
  }
  .about__wrapper {
    flex-direction: column;
  }
  .about__item {
    text-align: center;
    max-width: 360px;
    margin-bottom: 48px;
  }
  .pagination {
    margin-bottom: 76px;
  }
}

@media (max-width: 782px) {
  .header__item {
    padding: 16px 16px;
  }
  .wrapper-gallery {
    margin: 0 16px;
  }
  .wrpper-futured {
    padding: 0 8px;
  }
  .container-gallery {
    grid-template: repeat(4, 247px) / 1fr;
  }
  .gallery:nth-child(4) {
    grid-auto-rows: minmax(200px, 1fr);
  }
  .brand__title {
    font-size: 44px;
  }
  .brand__item-left {
    display: none;
  }
  .brand__item-right {
    width: 100%;
    justify-content: center;
  }
  .brand {
    height: 363px;
  }
  .gallery__img {
    object-fit: cover;
  }
  .brand__title {
    margin-left: 50px;
    font-size: 38px;
  }
  .brand__title-sm {
    font-size: 20px;
    line-height: 100%;
  }
  .header__menu__item_hide {
    display: none;
  }
  .header__menu__item:not(:last-child) {
    margin: 0;
  }
  .wrpper-futured__items {
    gap: 15px;
  }
  .wrpper-futured__item__text {
    line-height: 17px;
  }
  .about {
    padding: 48px 0 64px 0;
  }
  .wrapper-subscription {
    flex-direction: column;
  }
  .subscription__item-left {
    margin-bottom: 48px;
  }
  .subscription__item-right__text {
    margin-bottom: 27px;
  }
  .footer {
    padding: 24px 32px;
  }
  .footer-wrapper {
    flex-direction: column;
  }
  .footer__text {
    margin-bottom: 40px;
  }
  .wrpper-futured__items {
    grid-template-columns: repeat(auto-fit, minmax(320px, 100%));
  }
  .arrivals-container {
    flex-direction: column;
    text-align: center;
  }
  .arrivals__title {
    margin-bottom: 32px;
  }
  .otions__filter__text {
    display: none;
  }
  .options-container {
    justify-content: space-between;
    padding: 24px 8px 32px 8px;
  }
  .otions__filter {
    margin: 0;
  }
  .otions__list {
    margin: 0;
  }
  .gumb {
    width: 37px;
    height: 25px;
  }
  .otions__list__text {
    font-size: 12px;
  }
  .moschino {
    top: 0;
  }
}
